<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Will Burnham</title>
		<link rel="stylesheet" href="{{url_for('static',filename='main.css')}}" />
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/projects">Projects</a></li>
						<li><a href="/resume">Resume</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner" style="background-image: url(../static/images/background.png)">
				<h2>Will Burnham</h2>
				<p style="text-transform:lowercase;"><span style="text-transform:uppercase;">B</span>achelor of <span style="text-transform:uppercase;">S</span>cience in <span style="text-transform:uppercase;">C</span>omputer <span style="text-transform:uppercase;">S</span>cience, <span style="text-transform:uppercase;">M</span>inor in <span style="text-transform:uppercase;">M</span>athmatics <br />
				 <span style="text-transform:uppercase;">U</span>niversity of <span style="text-transform:uppercase;">H</span>ouston</p>
				<ul class="actions">
					<li><a href="#one" class="button special big">Learn more</a></li>
				</ul>
			</section>

			<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>About Me</h2>
									<p>Aspiring software engineer</p>
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>My name is Will Burnham and I am a senior Computer Science student currently living in Houston, Texas. The facets of software development that I enjoy most are web development and optimizing algorithms to operate as quickly and as efficiently as possible. After graduation, I hope to begin working within the software development realm. </p>
								<p>I am currently an IT intern at a credit union based out of Sugar Land, Texas where I mostly work with security and the management of end user devices. Through this internship, I have learned about safe development practices, how to construct basic database queries, and how to collaborate on technical work with non-technical teams.</p>
    							<p>While I embrace the opportunity and challenge involved with learning new programming languages and skill sets, the technologies that I have the most exposure to are:</p>
    							<ul class="icons">
            						<li>&bull; Python</li>
            						<li>&bull; Flask</li>
            						<li>&bull; C++</li>
            						<li>&bull; SQL</li>
            						<li>&bull; Node.js</li>
            					</ul>
							</div>
						</div>
					</div>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style3 special" style="background-image: url(../static/images/background.png)">
					<div class="container">
						<header class="major">
							<h2 style="font-size:40px;">Get in touch</h2>
							<p style="font-size:30px; text-transform:lowercase;"><span style="text-transform:uppercase;">A</span>s <span style="text-transform:uppercase;">I</span> round out my senior year, <span style="text-transform:uppercase;">I</span> am actively seeking employment.<br> <span style="text-transform:uppercase;">P</span>lease feel free to contact me via email at any time.</p>
						</header>
						<ul class="actions">
							<li><a href="mailto:burnham.will2020@gmail.com" class="button special big">Reach Out</a></li>
						</ul>
					</div>
				</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
    				<ul class="icons">
						<li><a href="https://www.github.com/WillBurnham" target="_blank" class="icon"><img src="/static/images/github32.png" alt="" /></a></li>
						<li><a href="https://www.linkedin.com/in/will-burnham-405402140/" target="_blank" class="icon"><img src="/static/images/linkedin01.png" alt="" width="40" height="35"/></a></li>
					</ul>
					<ul class="copyright">
						<li>Built By: Will Burnham</li>
					</ul>
				</div>
			</footer>
			
	</body>
</html>