<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="refresh" content="60">
		<title>Projects</title>
		<link rel="stylesheet" href="{{url_for('static',filename='main.css')}}" />
		<style>
    		.overlay-container img {
        		width: 50%;
        		height: 50%;
    		}
    		.overlay-container img:hover {
        		width: 55%;
        		height: 55%;
        		transition: all 0.3s linear;
        		cursor: pointer;
        		box-shadow: 1px 1px 5px darkgray;
    		}
		</style>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/projects">Projects</a></li>
						<li><a href="/resume">Resume</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
		
    		
			<section id="main" class="wrapper">
				
				<div class="container">

					<header class="major special">
						<h2>Github Landing Page</h2>
						<p style="text-transform: none;">
    						Created a landing page using React.js, Chart.js, and Bootstrap to provide a more concise and in depth view of my developer profile.
    						The website pulls all of the data presented from the Github API. Provides data visualizations of all repositories, languages used, and level of familiarity with each language and technology used. 
						</p>
						<div class="12u$" style="margin-top: 20px;">
        					<center>
        					<div class="overlay-container">
            					<a href="https://wburnham.netlify.app" target="_blank">
                					<img src="../static/images/github-app-ss.jpg" alt="">
                				</a>
            				</div>
            				</center>
        				</div>
					</header>
                
				</div>
				
				<div class="container">

					<header class="major special">
						<h2>Weather Reminder App</h2>
						<p style="text-transform: none;">
						This project uses the Open Weather Map API. It fetches the next day's weather data and searches for trigger words that would indicate bad weather. 
						When bad weather is detected, it sends me an email notifying me of bad weather in either
						Austin, Dallas, Houston, or any combination of the three. 
						On the front end, the images below change dynamically dependent on the current state of the weather.
						</p>
					</header>

					<div class="box alt" style="align:center;">
								<div class="row 50% uniform">
    								<div class="4u">
        								<h3 style="text-align:center;">Tomorrow in Austin</h3>
        								<span class="image fit"><img src="{{austin_image}}" alt="" /></span>
        							</div>
									<div class="4u">
    									<h3 style="text-align:center;">Tomorrow in Dallas</h3>
    									<span class="image fit"><img src="{{dallas_image}}" alt="" /></span>
    								</div>
									<div class="4u$">
    									<h3 style="text-align:center;">Tomorrow in Houston</h3>
    									<span class="image fit"><img src="{{houston_image}}" alt="" /></span>
    								</div>
								</div>
					</div>
						
					
				</div>
				
				<div class="container" id="dict">
                    <header class="major special">
						<h2>Dictionary App</h2>
						<p style="text-transform: none;">
						This app queries a mySQL database on the backend and returns the definition of the search to the front end if a definition exists.</p>
						<section style="margin-top:30px;">
    						<form method="post" action="/projects/#dict">
    							<div class="row uniform 50%">
    								<div class="12u$" style="margin-bottom:20px;">
    									<textarea style="resize: none;"name="message" id="message" placeholder="Enter a word..." rows="1"></textarea>
    								</div>
    								<div class="12u$">
    									<ul class="actions">
    										<li><input type="submit" value="Search" class="special" onclick="window.location.href='#dict';" /></li>
    									</ul>
    								</div>
    							</div>
    						</form>
    					</section>
    					<ul class="alt" style="list-style-type: none;">
    						{% for data in my_list %}
                                <li>{{data}}</li>
                            {% endfor %}
        				</ul>	
					</header>				
                    
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
    				<ul class="icons">
						<li><a href="https://www.linkedin.com/in/will-burnham-405402140/" title="Linkedin &rarr; https://www.linkedin.com/in/will-burnham-405402140/" rel="noopener" target="_blank"><i class="fa fa-linkedin"></i> Linkedin</a></li>
						<li><a href="https://github.com/WillBurnham" title="Github &rarr; https://github.com/WillBurnham" rel="noopener" target="_blank"><i class="fa fa-github"></i> Github</a></li>
					</ul>
					<ul class="copyright">
						<li>Built by: Will Burnham</li>
					</ul>
				</div>
			</footer>

	</body>
</html>