<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Price</th>
      <th>Beds</th>
      <th>Bath</th>
      <th>Address</th>
      <th>Region</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>$409,000</td>
      <td>1bd</td>
      <td>1ba</td>
      <td>2649 E 23rd St #2B</td>
      <td>Sheepshead Bay, Brooklyn, NY</td>
    </tr>
    <tr>
      <th>1</th>
      <td>$329,888</td>
      <td>2bd</td>
      <td>1ba</td>
      <td>18-35 Corporal Kennedy St #3B</td>
      <td>Bay Terrace, Bayside, NY</td>
    </tr>
    <tr>
      <th>2</th>
      <td>$335,000</td>
      <td>1bd</td>
      <td>1ba</td>
      <td>301 E 63rd St #10H</td>
      <td>Upper East Side, New York, NY</td>
    </tr>
    <tr>
      <th>3</th>
      <td>$67,000,000</td>
      <td>7bd</td>
      <td>11ba</td>
      <td>12 E 63rd St</td>
      <td>Upper East Side, New York, NY</td>
    </tr>
    <tr>
      <th>4</th>
      <td>$759,000</td>
      <td>6bd</td>
      <td>3ba</td>
      <td>10114 112th St</td>
      <td>Richmond Hill, Jamaica, NY</td>
    </tr>
    <tr>
      <th>5</th>
      <td>$76,000,000</td>
      <td>11bd</td>
      <td>14ba</td>
      <td>172 Madison Ave #PENTHOUSE</td>
      <td>Flatiron District, New York, NY</td>
    </tr>
    <tr>
      <th>6</th>
      <td>$1,199,995</td>
      <td>10bd</td>
      <td>6ba</td>
      <td>Address Not Disclosed</td>
      <td>Borough Park, Brooklyn, NY</td>
    </tr>
    <tr>
      <th>7</th>
      <td>$58,500,000</td>
      <td>4bd</td>
      <td>5ba</td>
      <td>157 W 57th St #87-PENTHOUSE</td>
      <td>Midtown, New York, NY</td>
    </tr>
    <tr>
      <th>8</th>
      <td>$1,450,000</td>
      <td>7bd</td>
      <td>3ba</td>
      <td>872 Lafayette Ave</td>
      <td>Bedford Stuyvesant, Brooklyn, NY</td>
    </tr>
    <tr>
      <th>9</th>
      <td>$149,000</td>
      <td>1bd</td>
      <td>1ba</td>
      <td>100 W 57th St #17-B</td>
      <td>Midtown, New York, NY</td>
    </tr>
    <tr>
      <th>10</th>
      <td>$20,000,000</td>
      <td>6bd</td>
      <td>10ba</td>
      <td>54 E 81st St</td>
      <td>Upper East Side, New York, NY</td>
    </tr>
    <tr>
      <th>11</th>
      <td>$349,900</td>
      <td>6bd</td>
      <td>3ba</td>
      <td>22023 101st Ave</td>
      <td>Queens Village, Jamaica, NY</td>
    </tr>
    <tr>
      <th>12</th>
      <td>$17,995,000</td>
      <td>5bd</td>
      <td>7ba</td>
      <td>313 W 4th St</td>
      <td>West Village, New York, NY</td>
    </tr>
    <tr>
      <th>13</th>
      <td>$499,000</td>
      <td>3bd</td>
      <td>2ba</td>
      <td>746 Leverett Ave</td>
      <td>Eltingville, Staten Island, NY</td>
    </tr>
    <tr>
      <th>14</th>
      <td>$39,950,000</td>
      <td>5bd</td>
      <td>6ba</td>
      <td>20 W 53rd St</td>
      <td>Midtown, New York, NY</td>
    </tr>
    <tr>
      <th>15</th>
      <td>$60,000</td>
      <td>2bd</td>
      <td>1ba</td>
      <td>2156 Hughes Ave</td>
      <td>East Tremont, Bronx, NY</td>
    </tr>
    <tr>
      <th>16</th>
      <td>$599,000</td>
      <td>3bd</td>
      <td>2ba</td>
      <td>721 E 99th St</td>
      <td>Canarsie, Brooklyn, NY</td>
    </tr>
    <tr>
      <th>17</th>
      <td>$13,950,000</td>
      <td>4bd</td>
      <td>5ba</td>
      <td>451 W 24th St</td>
      <td>Chelsea, New York, NY</td>
    </tr>
    <tr>
      <th>18</th>
      <td>$55,000,000</td>
      <td>10bd</td>
      <td>17ba</td>
      <td>10 E 62nd St</td>
      <td>Upper East Side, New York, NY</td>
    </tr>
    <tr>
      <th>19</th>
      <td>$1,725,000</td>
      <td>5bd</td>
      <td>4ba</td>
      <td>154 Van Buren St</td>
      <td>Bedford Stuyvesant, Brooklyn, NY</td>
    </tr>
    <tr>
      <th>20</th>
      <td>$63,250,000</td>
      <td>5bd</td>
      <td>6ba</td>
      <td>217 W 57th St #113</td>
      <td>Midtown, New York, NY</td>
    </tr>
    <tr>
      <th>21</th>
      <td>$759,000</td>
      <td>5bd</td>
      <td>3ba</td>
      <td>3144 Willow Ln</td>
      <td>Pelham Bay, Bronx, NY</td>
    </tr>
    <tr>
      <th>22</th>
      <td>$50,000,000</td>
      <td>Studio</td>
      <td>0ba</td>
      <td>854 5th Ave</td>
      <td>Upper East Side, New York, NY</td>
    </tr>
    <tr>
      <th>23</th>
      <td>$1,688,000</td>
      <td>4bd</td>
      <td>3ba</td>
      <td>308 Burns St</td>
      <td>Forest Hills Gardens, Forest Hills, NY</td>
    </tr>
    <tr>
      <th>24</th>
      <td>$2,350,000</td>
      <td>1bd</td>
      <td>1ba</td>
      <td>28 Old Fulton St #Clock</td>
      <td>DUMBO, Brooklyn, NY</td>
    </tr>
    <tr>
      <th>25</th>
      <td>$325,000</td>
      <td>4bd</td>
      <td>2ba</td>
      <td>16035 121st Ave</td>
      <td>Jamaica, Jamaica, NY</td>
    </tr>
    <tr>
      <th>26</th>
      <td>$52,000,000</td>
      <td>5bd</td>
      <td>8ba</td>
      <td>443 Greenwich St #H</td>
      <td>Tribeca, New York, NY</td>
    </tr>
    <tr>
      <th>27</th>
      <td>$50,000,000</td>
      <td>6bd</td>
      <td>7ba</td>
      <td>1125 5th Ave</td>
      <td>Carnegie Hill, New York, NY</td>
    </tr>
    <tr>
      <th>28</th>
      <td>$649,000</td>
      <td>7bd</td>
      <td>3ba</td>
      <td>11421 211th St</td>
      <td>Queens Village, Jamaica, NY</td>
    </tr>
    <tr>
      <th>29</th>
      <td>$2,450,000</td>
      <td>6bd</td>
      <td>4ba</td>
      <td>594 W 152nd St</td>
      <td>Hamilton Heights, New York, NY</td>
    </tr>
  </tbody>
</table>